<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Lab3{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}">
</head>
<body style="height: 100vh; display: flex; flex-direction: column;">
    
    {% include 'menu.html' %}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
              <div class="alert alert-dismissible alert-{{ category }}">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                {{ message }}
              </div>
          {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="container" style="flex:1">
        {% block content %} 
            <h1>Lab 3</h1>
        {% endblock %}
    </div>

    {% block footer %}{% endblock %}
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>