{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
    <form method="POST" style="max-width: 500px; margin: 150px auto 0;">
        <h1 class="text-center">Login</h1>
        <div class="form-group">
            <label class="form-label" for="name">User name</label>
            <input class="form-control" type="text" id="name" name="name">
        </div>
        <div class="form-group">
            <label class="form-label" for="inputPassword">Password</label>
            <input class="form-control" type="password" id="inputPassword" name="password">
        </div>
        <button type="submit" class="btn btn-primary" style="margin-top: 25px; width: 100%;">Sign in</button>
    </form>
    {% if message %}
        <div class="alert alert-danger" role="alert" style="max-width: 500px; margin: 50px auto 0;">
            {{message}}
        </div>
    {% endif %}
{% endblock %}