{% extends "base.html" %}
{% from "_render-field.html" import render_field %}
{% block title %}Todo{% endblock %}
{% block content %}
<div class="container py-5 h-100">
     <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-9 col-xl-10">
            <div class="card rounded-3">
                <div class="card-body p-4">
                    <div class="text-center my-3">
                        <h4 class="">Categories</h4>
                        <a href="{{url_for('todo.todo_page')}}">Todo</a>
                    </div>
                    <div class="row justify-content-between mt-5">
                        <ul class="col-6 list-group">
                            {% for category in categories %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    {{category.name}}
                                    <div class="d-flex justify-content-between align-items-center">
                                    <span class="badge bg-primary rounded-pill" style="margin-right: 15px;">{{category.todos|length}}</span>
                                        <form method="POST" action="{{url_for('todo.delete_category', id=category.id)}}">
                                            <button type="submit" class="btn btn-outline-danger">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                                    <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"></path>
                                                </svg>
                                            </button>
                                        </form>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul> 
                        <form class="col-5 " action="{{url_for('todo.add_category')}}" method="post" novalidate>
                            {{ form.csrf_token }}
                            <div class="form-group">
                                {{ render_field(form.name, class="form-control") }}
                            </div>
                            <div class="form-group">
                                {{ render_field(form.submit, class="btn btn-primary", style="margin-top: 25px; width: 100%;") }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}