{% extends "base.html" %}
{% from "_render-field.html" import render_field %}
{% block title %}Categories{% endblock %}
{% block content %}

<div class="d-flex justify-content-between mt-5" style="gap: 10px;">
  <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
    <a href="#" class="btn btn-outline-primary active" style="padding: 5px 25px;">
      Categories
      <span class="badge rounded-pill bg-secondary">{{categ_count}}</span>
    </a>
    <a href="{{url_for('posts.tags_page')}}" class="btn btn-outline-primary " style="padding: 5px 25px;">
      Tags
      <span class="badge rounded-pill bg-secondary">{{teg_count}}</span>
    </a>
  </div>

  <button class="btn btn-success" style="padding: 5px 25px;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
    New
  </button>
</div>


<div class="accordion mb-3 mt-2" id="accordionExample">
  <div class="accordion-item">
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
      <div class="accordion-body">
        <form class="row justify-content-center" method="post" action="{{url_for('posts.add_category')}}">
          {{ form.csrf_token }}
          <div class="col-4">
            {{ render_field(form.name, class="form-control") }}
          </div>
          <div class="col-2">
              {{ render_field(form.submit, class="btn btn-primary", style="width: 100%; height: 100%") }}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<table class="table table-hover text-center">
  <thead>
    <tr class="table-light">
      <th scope="col">#ID</th>
      <th scope="col">Name</th>
      <th scope="col">Used</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for category in categories %}
      <tr>
          <td>{{category.id}}</td>
          <td>{{category.name}}</td>
          <td>{{category.posts|length}}</td>
          <td> 
            <form method="POST" action="{{url_for('posts.delete_category', id=category.id)}}">
              <button type="submit" class="btn btn-outline-danger">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                      <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"></path>
                  </svg>
              </button>
            </form>
          </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}