{% extends "base.html" %}
{% block title %}About me{% endblock %}
{% block content %}
    <img src="../static/images/user-avatar.png" alt="avatar">
    <h1>Vladyslav Holobyn</h1>
    <p>
        I am a dedicated and enthusiastic software engineering student with a passion for 
        developing efficient and user-friendly applications. With a solid foundation in programming 
        languages and problem-solving skills, I am eager to contribute my technical expertise to a 
        collaborative and innovative team. I enjoy tackling complex challenges and am committed to 
        continuous learning to stay abreast of the latest technological advancements in the field.
    </p>
{% endblock %}