<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Lab3{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Lab3</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('about') }}">About me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('skills') }}">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('contacts') }}">Contacts</a>
                </li>
            </ul>
          </div>
        </div>
      </nav>
    <nav>
        <ul>

        </ul>
    </nav>
    <div class="container">
        {% block content %} 
            <h1>Lab 3</h1>
        {% endblock %}
    </div>

    <footer></footer>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>